:root {
    --md-admonition-icon--donating: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/></svg>')
}

.md-typeset .admonition.donating,
.md-typeset details.donating {
    border-color: rgb(255, 0, 93);
}

.md-typeset .donating > .admonition-title,
.md-typeset .donating > summary {
    background-color: rgb(255, 0, 93, 0.1);
}

.md-typeset .donating > .admonition-title::before,
.md-typeset .donating > summary::before {
    background-color: rgb(255, 0, 93);
    -webkit-mask-image: var(--md-admonition-icon--donating);
    mask-image: var(--md-admonition-icon--donating);
}

[data-md-color-scheme="default"] {
    /* background & base text */
    --md-code-bg-color: #f6f8fa;
    --md-code-fg-color: #24292e;

    /* tokens */
    --md-code-hl-keyword-color: #d73a49;
    --md-code-hl-string-color: #032f62;
    --md-code-hl-number-color: #005cc5;
    --md-code-hl-comment-color: #6a737d;
    --md-code-hl-function-color: #6f42c1;
    --md-code-hl-variable-color: #e36209;
    --md-code-hl-operator-color: #d73a49;
    --md-code-hl-punctuation-color: #24292e;
    --md-code-hl-constant-color: #005cc5;
    --md-code-hl-generic-color: #6f42c1;
}

[data-md-color-scheme="slate"] {
    /* background & base text */
    --md-code-bg-color: #282c34;
    --md-code-fg-color: #abb2bf;

    /* tokens */
    --md-code-hl-keyword-color: #c678dd;
    --md-code-hl-string-color: #98c379;
    --md-code-hl-number-color: #d19a66;
    --md-code-hl-comment-color: #5c6370;
    --md-code-hl-function-color: #61afef;
    --md-code-hl-variable-color: #e06c75;
    --md-code-hl-operator-color: #56b6c2;
    --md-code-hl-punctuation-color: #abb2bf;
    --md-code-hl-constant-color: #d19a66;
    --md-code-hl-generic-color: #e06c75;
}

.highlight .linenos {
    background-color: var(--md-code-bg-color);
    color: var(--md-code-hl-comment-color);
    border-right: 1px solid var(--md-code-hl-comment-color);
    padding-right: .75em;
    margin-right: .75em;
}